-#<%- headers = ['Name', 'Email'] -%>
-#<%= CSV.generate_line headers %>
-#<%- @users.each do |user| -%>
-#<%= CSV.generate_line([user.name, user.email]) -%>
-#<%- end -%>

- headers = ["Title" , "City" , "Posted Data" , "Email" , "Position" , "Status", "First Name" , "Last Name", "Twitter","Email Type"]
= CSV.generate_line headers
- @jobs.each do |job|
  -if job.company.present? and job.company.domain_search.present?
    = CSV.generate_line [job.title.to_s.strip, job.city.to_s.strip, job.posted_date.to_s.strip]
    - job.company.domain_search.emails.each do |email|
      = CSV.generate_line ["-","-","-",
                                  email.email.present? ? email.email.to_s  : "-"  ,
                                  email.position.present? ? email.position.to_s  : "-" ,
                                  email.status.present? ? email.status.to_s  : "-",
                                  email.first_name.present? ? email.first_name.to_s  : "-",
                                  email.last_name.present? ? email.last_name.to_s  : "-",
                                  email.twitter.present? ? email.twitter.to_s  : "-",
                                  email.address_type.present? ? email.address_type.to_s  : "-"]