.container.col-lg-12
	.jumbotron
		%h3 Welcome to SalesBot
		.row
			= form_tag(crawl_path , remote: :true) do 
				.col-lg-3
					= text_field_tag 'crawl[keyword]' ,"", class: 'form-control' , placeholder: "Enter Keyword"
				= submit_tag 'Get Started' , class: "btn btn-success"
		#job_postings
			
