.container.col-lg-12
  %nav.navbar.navbar-inverse.bg-inverse
    / %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
    %a.navbar-brand{:href => "/"} SalesBot
